[nlp]
lang = "nl"
pipeline = ["llm"]

[components]

[components.llm]
factory = "llm"
save_io = true

[components.llm.task]
@llm_tasks = "spacy.NER.v3"
labels = ["E19_Physical_Thing", "E53_Place"]
description = "CRITICAL ANNOTATION NOTE: Remember to tag ALL instances of entities if they appear multiple times\nCRITICAL FORMATTING RULE: Your response MUST be plain text only. Do NOT use markdown. Do NOT wrap your response in backticks (`) or code blocks (```). Output the answer directly with no surrounding formatting characters whatsoever."

[components.llm.task.examples]
@misc = "spacy.FewShotReader.v1"
path = "ner_examples_claude.yaml"

[components.llm.task.label_definitions]
E19_Physical_Thing = "Specific Physical Entities: buildings, landmarks, facilities that also serve as locations."
E53_Place = "General Locations: Geopolitical Entities (e.g., city, town), geographical region (e.g., natural region without political boundaries)."

############## List of Models for copy-pasting ################
# ministral-3:14b-cloud     (Output works in spacy-llm, fast)
# mistral-large-3:675b-cloud (Output works in spacy-llm)
# qwen3-coder-next:cloud    (Output works in spacy-llm)
# qwen3.5:397b-cloud
# qwen3.5:cloud
# gemma4:31b-cloud          (Output works in spacy-llm, fast)
# kimi-k2.6:cloud
# glm-5.1:cloud             (Very slow...)
# deepseek-v3.2:cloud
##############################################################

[components.llm.model]
context_length = 256000
@llm_models = "langchain.Ollama.v1"
name = "ministral-3:14b-cloud"
config = {"base_url": "http://localhost:11434", "temperature": 0.0}
